<!DOCTYPE html>
<html
        xmlns:vite="http://www.thymeleaf.org/vite">
<head>
    <title>Example Template</title>
    <vite:vite>
        <vite:entry value="/css/application.css"></vite:entry>
        <vite:entry value="/react/ListExample.tsx"></vite:entry>
        <vite:entry value="/react/FlowbiteExample.tsx"></vite:entry>
        <vite:entry value="/react/ButtonBar.tsx"></vite:entry>
        <vite:entry value="/react/OccurrencesTimeline.tsx"></vite:entry>
    </vite:vite>
</head>
<body>
<h1>Example Template</h1>
</body>
</html>